<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><%= link_to "Все карточки", cards_path %></li>
    <li role="presentation"><%= link_to "Добавить карточку", '#' %></li>
  </ul>
</nav>
