// variables
$warning: #ff0000;
$logo: #000000;
$white: #ffffff;
$grey: #e5e5e5;
$blue: #5bc0de;
$dark-blue: #337ab7;

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: $logo;
  font-family: Open Sans, Arial;
  &:hover {
    color: $logo;
    text-decoration: none;
  }
}

// Space out content a bit
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

// Custom page header
.header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 19px;
  margin-bottom: 15px;
  border-bottom: 1px solid $grey;
  h3 {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

.smfont {
  font-size: 0.9em;
}

.warning {
  color: $warning;
  padding-left: 30px;
}

.card {
  background-color: $white;
  border: 1px solid transparent;
  border-color: $blue;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card_edit {
  border-color: $dark-blue;
}

.card__heading {
  color: $white;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: $blue;
  border-color: $blue;
}

.card__heading_edit {
  background-color: $dark-blue;
}

.card__body {
  padding: 15px;
}

// Customize container
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  // Remove the padding we set earlier
  .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
